/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.password-body {
    font-family: 'Poppins', sans-serif;
}

/* Password reset container */
.password-reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 500px;
}

.password-form-background {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 250px;
    margin: 20px 0;
}

/* Title styling */
.password-reset-title {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

/* Section styling */
.password-reset-section {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between sections */
}

/* Input fields */
.password-reset-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 440px;
    margin-bottom: 25px; /* Adds space between input fields */
}

.password-reset-input:focus {
    outline: none;
    border-color: red;
}

/* Button styling */
.password-reset-button {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}